.holdings-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

@media screen and (max-width: 600px) {
  .holdings-table {
    border: 0;
  }

  .table-head {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-row {
    display: block;
    margin-bottom: .625em;
  }

  .table-data {
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .table-data::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table-data:last-child {
    border-bottom: 0;
  }
}